body {
    text-align: center;
    background-color: cyan;
}

div{
    text-align: left;
    width: 50%;
    background-color:lightgreen;
    
    margin: auto;
    border-style:dotted;
    margin-top: 17.5px;
}

p {
    width: 100%;
    line-height: 1;
    font-size: large;
} 
